html {
    font-family: 'Dosis', Arial, sans-serif;
    height: 100%;
}

body {
	height: 100%;   
    overflow: hidden;  /*makes the body non-scrollable (we will add scrolling to the sidebar and main content containers)*/
    margin: 0px;  /*removes default style*/
    box-sizing: border-box;	
}

.container {
    display: flex;
    align-items: flex-start;
    height: 100%;
}


.column{
	height: 100%;  /*allows both columns to span the full height of the browser window*/
    display: flex;
    flex-direction: column;  /*places the left and right headers above the bottom content*/
}


.bottom {
    flex-grow: 1;  /*ensures that the container will take up the full height of the parent container*/
}

#navbar {
    display: flex;
    flex-direction: column;
    margin-right: 9vh;
    flex-shrink: 0;  /*makes sure that content is not cut off in a smaller browser window*/

}

#navHeader {
    text-align: right;
    font-size: 3em;
    padding-top: 50px;
    padding-left: 100px;
    flex-shrink: 0;	
    cursor: pointer;
}

#navHeader:hover{
	text-shadow: 2px 2px #ccc;
	-webkit-transform: scale(1.005);
	
}

#navBody {
    text-align: right;
    margin-top: 160px;
}

.navButtons {
    font-size: 2em;
    list-style: none;
    color: #707070;
    cursor: pointer;
}

.navButtons:hover{
	-webkit-transform: scale(1.01);
	color:#505050;
	text-shadow: 2px 2px #ccc;
}

.active{
	-webkit-transform: scale(1.01);
	color:#505050;
	text-shadow: 2px 2px #ccc;
}

#content {
	padding: 20px;
    flex-direction: column;
	align-content: flex-start;
	overflow-y: auto;  /*adds scroll to this container*/
    display: flex;
}

#contentHeader{
	font-size: 3em;
	padding-top: 32px;
	overflow-wrap: none;
	flex-shrink: 0;
    display: inline-flex;	
}

#contentBody{
	font-size: 1.5em;
	color: #707070;
	overflow-y: auto;  /*adds scroll to this container*/
}
