html {
    font-family: 'Dosis', Arial, sans-serif;
}

body {}

.container {
    display: flex;
    align-items: center;
}

#navbar {
    flex: 2;
    display: flex;
    flex-direction: column;
    margin-right: 5vh;
}

#navHeader {
	flex: 2;
    text-align: center;
    font-size: 3em;	
}

#navBody {
	flex: 3;
    text-align: right;
    margin: 25vh 0;
}

.navButtons {
    font-size: 2em;
    list-style: none;
    color: #707070;
}

#content {
    flex: 5;
}

#contentHeader{
	font-size: 4em;
}

#contentBody{
	font-size: 1.5em;
}